
@{
    ViewBag.Title = "Index";
}

<h2>This is where the query handler will be</h2>

<p>Users will use this page to filter data set down to the input data to be used by R2HTML scripts</p>

<p></p>
<p></p>
<p></p>

<p>Please choose your visual format from the list provided below</p>

<p></p>
<p></p>
<p></p>

@using (Html.BeginForm("BarChart", "Visual"))
{
    <input type="submit" value="BarChart" />
}

<p></p>

@using (Html.BeginForm("Graph", "Visual"))
{
    <input type="submit" value="Graph" />
}

<p></p>

@using (Html.BeginForm("Table", "Visual"))
{
    <input type="submit" value="Table" />
}


<p></p>
<p></p>
<p></p>

<p>NOTE: At the moment the only analysis available is number of AntiVirus failures for the 11/11/2013. This is subject to change very shortly!</p>

