
@{
    ViewBag.Title = "Upload";
}

<h2>Congrats! Your file has been uploaded to the server and imported into the database</h2>
<p>message returned from import = @ViewBag.Import</p>
<p>Go on to query handler</p>

<p></p>
<p></p>
<p></p>

@using (Html.BeginForm("Index", "Query"))
{
    <input type="submit" value="Query Handler" />
}


<p></p>
<p></p>
<p></p>

<p>NOTE: order of this page sequence will change, set up ths way to maintain neater structure</p>
