@using Woju.Helpers
@{
    ViewBag.Title = "Table";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <p class="lead">AntiVirus Failures</p>
            @Html.LoadHtml("~/Content/R2HTML/maryland_Mw_Date_AvCounter_tab.html")
            @*@Html.LoadHtml(@ViewBag.Path) --TODO: figure out how to insert dynamic path*@
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <br />
            <blockquote class="pull-right">
                <p>Above all else show the data.</p>
                <small><cite title="Olamide Koleosho">AntiVirus FrontEnd Tool</cite></small>
            </blockquote>
        </div>
    </div>
</div> 