<h1>JAT</h1>
<h2>Coffee Orders</h2>
<ul id="orders">

</ul>

<h4>Add Order</h4>
<p>antivirus: <input type="text" id="antivirus" /></p>
<p>quantity: <input type="text" id="quantity" /></p>
<button id="add-order">Add!</button>


<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/helpers/maint.js"></script>