@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-upload"></span> Upload Dataset</a>
        <a href="@Url.Action("Chart", "Chart")" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-inbox"></span> Use Existing</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Index", "Chart")" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-upload"></span> Place Holder</a>
        <a href="@Url.Action("About", "Home")" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-inbox"></span> Place Holder</a>
    </div>
</div>


<script>
    alert();
</script>







@*<div class="row">
        <div class="col-md-4">
            <h2>First Time?</h2>
            <p>
                Video tutorials for using the application can be found here!
            </p>
            <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=FIc8zFUywF4">Watch Videos &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Ready?</h2>
            <p>Get Visualising</p>
            <p>@Html.ActionLink("Go!", "Index", "Query", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>

    @section scripts{
        <script>var testing = true;</script>
    }*@