@Styles.Render("~/Content/css")
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div data-role="panel" id="pushPanel" data-display="push">
    <h2>Push Panel</h2>
    <p>You can close the panel by clicking outside the panel, pressing the Esc key, by swiping, or by clicking the button below:</p>
    <a href="#pageone" data-rel="close" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">Close panel</a>
</div>



<div class="col-md-3">
    <div class="panel-group" id="panelOptions">
        @* chart selection panel *@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#panelOptions" href="#chartSelection">Select Chart</a>
                </h4>
            </div>
            <div id="chartSelection" class="panel-collapse collapse">
                <div class="panel-body">
                    <button type="button" class="chartButton btn btn-info" style="margin:1px 0px" value="table">Table</button>
                </div>
            </div>
        </div>

        @* dimension panel *@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#panelOptions" href="#chartDimensions">Build Dataset</a>
                </h4>
            </div>
            <div id="chartDimensions" class="panel-collapse collapse">
                <div class="panel-body">

                    <label class="control-label">Column</label>
                    <div class="selectContainer">
                        <select class="form-control" id="column" onchange="fieldOptions()">
                            <option value="antivirus">Antivirus</option>
                            <option value="scandate">Scan Date</option>
                            <option value="version">Version</option>
                        </select>
                    </div>
                    <label class="control-label">Row</label>
                    <div class="selectContainer">
                        <select class="form-control" id="row">
                            <option value="antivirus">Antivirus</option>
                            <option value="scandate">Scan Date</option>
                            <option value="md5">Malware</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        @* data filtering *@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#panelOptions" href="#dataFilter">Filter Dataset</a>
                </h4>
            </div>
            <div id="dataFilter" class="panel-collapse collapse">
                <div class="panel-body">
                    <label class="control-label">Antivirus</label>
                    <div class="selectContainer">
                        <select class="form-control" id="antivirusList" multiple="multiple">
                            <option selected value="'antivir'">AntiVir</option>
                            <option selected value="'avg'">AVG</option>
                            <option selected value="'comodo'">Comodo</option>
                            <option selected value="'f-secure'">F-Secure</option>
                            <option selected value="'kaspersky'">Kaspersky</option>
                            <option selected value="'mcafee'">McAfee</option>
                            <option selected value="'microsoft'">Microsoft</option>
                            <option selected value="'sophos'">Sophos</option>
                            <option selected value="'symantec'">Symantec</option>
                        </select>
                    </div>
                    <div id="md">

                        <label class="control-label">Virus Total Detection</label>
                        <div class="selectContainer">
                            <select class="form-control" id="vtd">
                                <option value="1">Failure</option>
                                <option value="0">Success</option>
                            </select>
                        </div>
                        <label class="control-label">Full Capability Detection</label>
                        <div class="selectContainer">
                            <select class="form-control" id="fcd">
                                <option value="1">Failure</option>
                                <option value="0">Success</option>
                            </select>
                        </div>

                    </div>
                    <div id="vd">

                        <label class="control-label">Detection</label>
                        <div class="selectContainer">
                            <select class="form-control" id="detection">
                                <option value="1">Failure</option>
                                <option value="0">Success</option>
                            </select>
                        </div>

                        <label class="control-label">Value Format</label>
                        <div class="selectContainer">
                            <select class="form-control" id="format" onchange="chartOptions()">
                                <option value="count">Count</option>
                                <option value="rate">Rate</option>
                                <option value="percentage">Percentage</option>
                            </select>
                        </div>
                    </div>

                    <label class="control-label">Date Range</label>
                    <div>
                        <input type="text" class="form-control date" id="startDate" onchange="validRange()" />
                        <input type="text" class="form-control date" id="endDate" />
                    </div>
                </div>
            </div>

        </div>
        @* chart formating *@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#panelOptions" href="#chartSettings">Chart Settings</a>
                </h4>
            </div>
            <div id="chartSettings" class="panel-collapse collapse">
                <div class="panel-body">
                    <label class="control-label">Chart Name</label>
                    <div>
                        <input type="text" class="form-control" id="chartName" onchange="chartOptions()" />
                    </div>
                    <p>(Press "Enter" when done)</p>
                </div>
            </div>
        </div>

    </div>

</div>


<div style="display:none">
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            <span class="sr-only">40% Complete (success)</span>
        </div>
    </div>
</div>









@*scripts*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript" src="~/Scripts/helpers/loader.js"></script>
<script type="text/javascript" src="~/Scripts/helpers/jquery.multiselect.min.js"></script>
<script type="text/javascript" src="~/Scripts/helpers/NewFolder1/interactiveCharts.js"></script>
<script type="text/javascript" src="~/Scripts/helpers/NewFolder1/inputHandler.js"></script>
<script type="text/javascript" src="~/Scripts/helpers/NewFolder1/pageHandler.js"></script>