.custom-tabs {
  border-top-color: #428bca;
  border-bottom-color: #428bca;
  float: left;
  margin-right: 0px;
  border-right: 0px solid #dddddd;
}

.custom-tabs a:hover .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}

.custom-tabs > li {
  position: relative;
  display: block;
  z-index: 2;
}

.custom-tabs > li > a {
  position: relative;
  display: block;
  padding: 10px 3px 10px 3px;
  text-align: justify;
  min-width: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
}

.custom-tabs > li > a:hover,
.custom-tabs > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
  border-color: #eeeeee #eeeeee #dddddd;
}

.custom-tabs > li.disabled > a {
  color: #999999;
}

.custom-tabs > li.disabled > a:hover,
.custom-tabs > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.custom-tabs .open > a,
.custom-tabs .open > a:hover,
.custom-tabs .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}

.custom-tabs .open > a .caret,
.custom-tabs .open > a:hover .caret,
.custom-tabs .open > a:focus .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}

.custom-tabs .custom-tabs-divider {
  height: 10px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}


.custom-tabs .active > a,
.custom-tabs .active > a:hover,
.custom-tabs .active > a:focus {
  color: #ffffff;
  cursor: pointer;
  background-color: #5bc0de;
  border: 1px solid #5bc0de;
  text-decoration: none;
}



/*---------------------NAV-------------------------*/

.custom-justified {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.custom-justified > li {
  float: none;
  margin-bottom: -1px;
  -webkit-border-radius: 4px 0px 0px 4px;
     -moz-border-radius: 4px 0px 0px 4px;
          border-radius: 4px 0px 0px 4px;
}

.custom-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
  padding: 15px 3px 15px 3px;
  min-width: 10px;
  -webkit-border-radius: 4px 4px 0px 0px;
     -moz-border-radius: 4px 4px 0px 0px;
          border-radius: 4px 4px 0px 0px;
}

.custom-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 100px) {
  .custom-justified > li {
    display: table-cell;
    width: 1%;
  }
  .custom-justified > li > a {
    margin-bottom:-1px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  }
}

.custom-justified > li.active > a,
.custom-justified > li.active > a:hover,
.custom-justified > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}