
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to WOJU</h2>
<p>To begin data visualisation process click the button below</p>

<p></p>

@using (Html.BeginForm("Index", "Upload")) 
{
    <input type="submit" value="Begin" />
}

@*<h3>Upload Dataset (for now only csv files accepted)</h3>
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="text" id="submissionName" , name="submissionName" />
    <input type="file" name="file" id="file" />
    //<input type="file" name="file1" id="file"/>
    <input type="submit" value="Upload" />
}

<p></p>
<p></p>
<p></p>
<p>NOTE: At the moment the only analysis available is number of AntiVirus failures for 11/11/2013. This is subject to change very shortly!</p>*@





